<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/jaxws"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.bfchengnuo"/>
	
	<!-- ws/user?wsdl -->
	<!-- 根据 wsdl 生成类：wsdl2java -d d:\src -p com.bfchengnuo.client.service http://localhost:8080/Spring-CXF-Server/ws/user?wsdl -->
	<cxf:server address="/user" serviceClass="com.bfchengnuo.service.UserService">
		<cxf:serviceBean>
			<bean class="com.bfchengnuo.service.impl.UserServiceImpl"></bean>
		</cxf:serviceBean>
	</cxf:server>

	<!-- 使用容器中的 bean： implementor=#name -->
	<!-- <cxf:endpoint address="user" implementor="com.bfchengnuo.service.impl.UserServiceImpl"/> -->
</beans>