<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--开启驼峰映射 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="helperDialect" value="mysql" />
			<!-- 当该参数设置为true时，使用 RowBounds 分页会进行 count 查询 -->
			<property name="rowBoundsWithCount" value="true"/>
		</plugin>
	</plugins>
</configuration>